@page "/paymentlist/{branch_id:int}/{c_id:int}/{promise_id:int}"
@* <h3>PaymentList</h3> *@
@inject ISnackbar Snackbar
<Navbar2></Navbar2>



<div class="content mb-4">
    <Header/>


    
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-12 mt-4 mb-4">
                <MudText Typo="Typo.h5" Style="@headertext"><img class="rounded-circle" src="img/icons/payment.svg" alt="" style="width:3rem;"> ชำระค่างวด</MudText>
            </div>
        </div>
    </div>

    <div class="container mt-4 mb-4">
        <div class="card outer-card">
            <div class="card-header" style="@tableheader">ข้อมูลลูกค้า</div>
            <div class="card-body">
              <div class="row">
                  <div class="col-md-6">
                      <MudStack Spacing="1">
                            <div>
                                <div class="input-group">
                                    <div class="input-group-text" style="@imporText">เลขบัตรประจำตัวประชาชน :</div>
                                    <input type="text" class="form-control" @bind-value="_promise.Customer.NatId" style="@boxfield" disabled>
                                </div>
                            </div>
                            <div>
                                <div class="input-group">
                                    <div class="input-group-text" style="@imporText">ชื่อ - นามสกุล :</div>
                                    <input type="text" class="form-control" @bind-value="_promise.Customer.FullName" style="@boxfield" disabled>
                                </div>
                            </div>
                            <div>
                                <div class="input-group">
                                    <div class="input-group-text" style="@imporText">เลขที่สัญญา :</div>
                                    <input type="text" class="form-control" @bind-value="_promise.Promiseno" style="@boxfield" disabled>
                                </div>
                            </div>
                            <div>
                                <div class="input-group">
                                    <div class="input-group-text" style="@imporText">หลักประกันสัญญา :</div>
                                    <input type="text" class="form-control" @bind-value="_promise.Product.Name" style="@boxfield" disabled>
                                </div>
                            </div>
                           
                      </MudStack>
                  </div>
                    <div class="col-md-6">
                        <MudStack Spacing="1">
                            <div>
                                <div class="input-group">
                                    <div class="input-group-text" style="@imporText">วัน/เดือน/ปี :</div>
                                    <input type="text" class="form-control" @bind-value="date" style="@boxfield" disabled>
                                </div>
                            </div>
                            <div>
                                <div class="input-group">
                                    <div class="input-group-text" style="@imporText">หนี้อื่นๆ :</div>
                                    <input type="text" class="form-control" @bind-value="otherdepts" style="@boxfieldred" disabled>
                                </div>
                            </div>
                            <div>
                                <div class="input-group">
                                    <div class="input-group-text" style="@imporText">หมายเลขอ้างอิงสัญญา :</div>
                                    <input type="text" class="form-control" @bind-value="_promise.Refcode" style="@boxfield" disabled>
                                </div>
                            </div>
                            <div>

                                <div class="input-group">
                                    <div class="input-group-text" style="@imporText">ดอกเบี้ย :</div>
                                    <input type="text" class="form-control" @bind-value="_promise.Intrate" style="@boxfield" disabled>
                                </div>
                            </div>
                        </MudStack>
                    </div>
             
                    <div class="col-md-12 mt-2">
                        <MudStack Row="true" Spacing="1">
                          
                            <div>
                                <div class="input-group">
                                    <div class="input-group-text" style="@imporText">เงินต้น :</div>
                                    <input type="text" class="form-control" @bind-value="_promise.Capital" style="@boxfield" disabled>
                                </div>
                            </div>
                             <div>
                                 <div class="input-group">
                                    <div class="input-group-text" style="@imporText">จำนวนงวด :</div>
                                    <input type="text" class="form-control" @bind-value="_promise.Periods" style="@boxfield" disabled>
                                  </div>
                            </div>
                             <div>
                                 <div class="input-group">
                                    <div class="input-group-text" style="@imporText">งวดละ :</div>
                                    <input type="text" class="form-control" @bind-value="_promise.Amount" style="@boxfield" disabled>
                                  </div>
                            </div>
                            <div>
                                <div class="input-group">
                                    <div class="input-group-text" style="@imporText">ชำระทุกวันที่ :</div>
                                    <input type="text" class="form-control" @bind-value="_promise.Daypaid" style="@boxfield" disabled>
                                </div>
                            </div>
                            @* <div>
                                <MudStack Row="true">
                                    <MudText Typo="Typo.caption" Class="mt-3" Style="@imporText">เงินต้น :</MudText>
                                    <MudTextField @bind-Value="PaidAmount" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                </MudStack>
                            </div>
                            <div>
                                <MudStack Row="true">
                                    <MudText Typo="Typo.caption" Class="mt-3" Style="@imporText">จำนวนงวด :</MudText>
                                    <MudTextField @bind-Value="PaidAmount"  Variant="Variant.Outlined" Margin="Margin.Dense" />
                                </MudStack>
                            </div>
                            <div>
                                <MudStack Row="true">
                                    <MudText Typo="Typo.caption" Class="mt-3" Style="@imporText">งวดละ :</MudText>
                                    <MudTextField @bind-Value="PaidAmount"  Variant="Variant.Outlined" Margin="Margin.Dense" />
                                </MudStack>
                            </div>
                            <div>
                                <MudStack Row="true">
                                    <MudText Typo="Typo.caption" Class="mt-3" Style="@imporText">ชำระทุกวันที่ :</MudText>
                                    <MudTextField @bind-Value="PaidAmount"  Variant="Variant.Outlined" Margin="Margin.Dense" />
                                </MudStack>
                            </div> *@
                        </MudStack>
                    </div>
              </div>
            </div>
        </div>
       
    </div>

    <div class="container mt-4 mb-4">
        <div class="card outer-card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mt-4 mb-4">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead style="@tableheader">
                                    <tr>
                                        <th class="">งวดที่</th>
                                        <th class="">วันที่</th>
                                        <th class="">เงินต้น</th>
                                        <th class="">ดอกเบี้ย</th>
                                        <th class="">รวมค่างวด</th>
                                        <th class="">ชำระแล้ว</th>
                                        <th class="">คงเหลือ</th>
                                        <th class="">ล่าช้า</th>
                                       @*  <th class="">สถานะ</th> *@
                                        <th>ใบเสร็จ / หลักฐานการโอน</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var items in _periodtran)
                                    {
                                        <tr>
                                            <td style="@items.style_color">@items.Period</td>
                                            <td style ="@items.style_color">@items.Tdate</td>
                                            <td style="@items.style_color">@items.Capital</td>
                                            <td style="@items.style_color">@items.Interest</td>
                                            <td style="@items.style_color">@items.Amount</td>
                                            @if (items.Ispaid == true)
                                            {
                                                <td style="@items.style_color">@items.Paidamount</td>

                                            }
                                            else if(items.Ispaid == false && items.Paidremain != 0)
                                            {
                                                <td style="@items.style_color">@items.Paidamount</td>
                                            }
                                            else
                                            {
                                                <td style="@items.style_color">0</td>
                                            }
                                          
                                            @if (items.Ispaid == true)
                                            {

                                                <td style="@items.style_color">0</td>

                                            }
                                            else if (items.Ispaid == false && items.Paidremain != 0)
                                            {

                                                <td style="@items.style_color">@items.pending_amount </td>
                                            }
                                            else
                                            {
                                                <td style="@items.style_color">@items.Amount</td>


                                            }
                                            

                                            @if (items.latedate > 0)
                                            {
                                                <td style="@items.style_color">@items.latedate</td>
                                             
                                            }
                                            else
                                            {
                                                <td style="@items.style_color">0</td>
                                            }
                                            @if (items.Ispaid == true || items.Paidamount != 0 || items.Deposit != 0)
                                            {
                                                <td>
                                                    <MudButton Variant="Variant.Outlined" Color="Color.Info" @onclick="() => ToggleDetails(items.Id)">@(ExpandedPeriodtransId == items.Id ? "Hide Details" : "Show Details")</MudButton>
                                                        <MudButton Variant="Variant.Outlined" Color="Color.Success" @onclick="()=>receipt(items.Id)">Print</MudButton>

                                                        <MudButton Variant="Variant.Outlined" Color="Color.Secondary">หลักฐานการโอน</MudButton>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <MudButton Variant="Variant.Outlined" Color="Color.Info" Disabled @onclick="() => ToggleDetails(items.Id)">@(ExpandedPeriodtransId == items.Id ? "Hide Details" : "Show Details")</MudButton>
                                                 
                                                   
                                                   
                                  @*                       <MudButton Variant="Variant.Outlined" Color="Color.Success" @onclick="()=>receipt(items.Id)" Disabled>Print</MudButton>
                                                        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Disabled>หลักฐานการโอน</MudButton>
                                                     *@

                                                </td>
                                            }
                                        </tr>
                                        @if (ExpandedPeriodtransId == items.Id)
                                        {
                                            @if (items.ck_deposit == true)
                                            {
                                                foreach (var i in items.Receiptdescs)
                                                {
                                                    <tr>
                                                        <td style="@items.style_color"></td>
                                                        <td style="@items.style_color">@i.Tdate</td>
                                                        <td style="@items.style_color">@i.Cappaid</td>
                                                        <td style="@items.style_color">@i.Intpaid</td>
                                                        <td style="@items.style_color">@i.Cappaid</td>
                                                        <td style="@items.style_color">@i.Deposit</td>
                                                           <td style="@items.style_color"></td>
                                                        <td style="@items.style_color"></td>
                                                        <td>
                                                            <MudButton Variant="Variant.Outlined" Color="Color.Success" @onclick="()=>receipt(items.Id)" Disabled>Print</MudButton>
                                                            <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Disabled>หลักฐานการโอน</MudButton>
                                                        </td>
                                                    </tr>
                                                
                                                }
                                            

                                            }
                                            else
                                            {
                                                <tr>
                                                    <td style="@items.style_color"></td>
                                                    <td style="@items.style_color">@items.Receiptdescs.Where(s => s.PeriodtranId == items.Id).FirstOrDefault().Tdate</td>
                                                    <td style="@items.style_color">@items.Receiptdescs.Where(s => s.PeriodtranId == items.Id).FirstOrDefault().Cappaid</td>
                                                    <td style="@items.style_color">@items.Receiptdescs.Where(s => s.PeriodtranId == items.Id).FirstOrDefault().Intpaid</td>

                                                    <td style="@items.style_color">@items.Receiptdescs.Where(s => s.PeriodtranId == items.Id).FirstOrDefault().Amount</td>
                                                    <td style="@items.style_color">@items.Receiptdescs.Where(s => s.PeriodtranId == items.Id).FirstOrDefault().Amount</td>
                                                </tr>
                                            }
                                 
                                        }


                                    }
                                 
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="col-md-12 mt-4 pb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <MudTabs Elevation="0" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6" @bind-ActivePanelIndex="activeIndex">
                                            <MudTabPanel Text="ชำระค่างวด" OnClick="() => SetTab(activeIndex)">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <MudStack Spacing="1">
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">เลขที่ใบเสร็จ  :</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="ReceiptNo" style="@boxfield" disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">งวดที่ค้างชำระ  :</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="_promise_pay.OverPayQty" style="@boxfieldred" disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">ยอดที่ต้องชำระ  :</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="_promise_pay.total_deptAmount" style="@boxfieldred" disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">ยอดรับฝากเงิน  :</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="_promise_pay.total_deposit" style="@boxfieldgreen" disabled>
                                                                        </div>
                                                                    </div>


                                                                </MudStack>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <MudStack Spacing="1">
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">ค่าปรับ  :</div>
                                                                            <input type="text" class="form-control text-end" style="@boxfieldred" @bind-value:event="onchange" @oninput="CalculateStandardDimensions" @bind-value="@totalFee">
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">ทวงถาม / ติดตาม  :</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="_promise_pay.total_charge_follow" style="@boxfieldred">
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">ยอดที่ชำระ :</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="customerPayAmount" style="@boxfieldgreen">
                                                                        </div>
                                                                    </div>

                                                                    <MudRadioGroup T="int" @bind-Value="payment_method">

                                                                        <MudRadio Value="1" Color="Color.Success" UnCheckedColor="Color.Default">เงินสด</MudRadio>
                                                                        <MudRadio Value="2" Color="Color.Secondary" UnCheckedColor="Color.Default">เงินโอน</MudRadio>
                                                                        <MudRadio Value="3" Color="Color.Error" UnCheckedColor="Color.Default">อื่นๆ</MudRadio>
                                                                        <MudRadio Value="4" Color="Color.Info" UnCheckedColor="Color.Default">เงินฝาก</MudRadio>
                                                                    </MudRadioGroup>

                                                                    <div class="row">
                                                                        <div class="col-12 text-center">
                                                                            @if (payment_method == 2)
                                                                            {
                                                                                @*    <MudFileUpload T="IBrowserFile">
                                                                            <ButtonTemplate>
                                                                            <MudButton HtmlTag="label"
                                                                            Variant="Variant.Filled"
                                                                            Color="Color.Primary"
                                                                            for="@context.Id">
                                                                            รูปภาพประกอบ
                                                                            </MudButton>
                                                                            </ButtonTemplate>
                                                                            <SelectedTemplate>
                                                                            <div class="row">
                                                                            <div class="col-12 mt-2">
                                                                            @if (context != null)
                                                                            {
                                                                            <di></di>
                                                                            <MudText>ไฟล์ชื่อ : @context.Name</MudText>
                                                                            }
                                                                            else
                                                                            {
                                                                            <MudText>ไม่มีรูปภาพประกอบ</MudText>
                                                                            }
                                                                            </div>
                                                                            </div>

                                                                            </SelectedTemplate>
                                                                            </MudFileUpload> *@
                                                                                @if (_formModel.PreviewUrl != null)
                                                                                {
                                                                                    <img class="uk-border-circle" src="@_formModel.PreviewUrl" alt="Preview Image" style="height:10rem; width:10rem;" />
                                                                                }
                                                                                else
                                                                                {
                                                                                    <img class="uk-border-circle" src="/img/vehicle/ducati.jpg" alt="Avatar" style="height:10rem; width:10rem;">
                                                                                }


                                                                                <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
                                                                                    <ButtonTemplate>
                                                                                        <MudIconButton HtmlTag="label"
                                                                                                       Color="Color.Info"
                                                                                                       Icon="@Icons.Material.Filled.PhotoCamera"
                                                                                                       for="@context">
                                                                                        </MudIconButton>
                                                                                    </ButtonTemplate>
                                                                                </MudFileUpload>

                                                                            }
                                                                            @if (payment_method == 3)
                                                                            {
                                                                                <MudStack Spacing="1">
                                                                                    <div class="row">
                                                                                        <div class="col-12">
                                                                                            <MudTextField @bind-Value="otherReason" Label="ระบุคำอธิบาย" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                                                                        </div>
                                                                                        <div class="col-6">
                                                                                            <p>ยอดที่ต้องการฝาก</p>
                                                                                        </div>
                                                                                        <div class="col-6">
                                                                                            <MudTextField @bind-Value="deposotamount" Label="Outlined" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                                                                        </div>
                                                                                        
                                                                                        <div class="col-12 text-center">
                                                                                            @*   <MudFileUpload T="IBrowserFile">
                                                                                        <ButtonTemplate>
                                                                                        <MudButton HtmlTag="label"
                                                                                        Variant="Variant.Filled"
                                                                                        Color="Color.Primary"
                                                                                        for="@context.Id">
                                                                                        รูปภาพประกอบ
                                                                                        </MudButton>
                                                                                        </ButtonTemplate>
                                                                                        <SelectedTemplate>
                                                                                        <div class="row">
                                                                                        <div class="col-12 mt-2">
                                                                                        @if (context != null)
                                                                                        {
                                                                                        <di></di>
                                                                                        <MudText>ไฟล์ชื่อ : @context.Name</MudText>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                        <MudText>ไม่มีรูปภาพประกอบ</MudText>
                                                                                        }
                                                                                        </div>
                                                                                        </div>

                                                                                        </SelectedTemplate>
                                                                                        </MudFileUpload> *@
                                                                                            @if (_formModel.PreviewUrl != null)
                                                                                            {
                                                                                                <img class="uk-border-circle" src="@_formModel.PreviewUrl" alt="Preview Image" style="height:10rem; width:10rem;" />
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <img class="uk-border-circle" src="/img/vehicle/ducati.jpg" alt="Avatar" style="height:10rem; width:10rem;">
                                                                                            }


                                                                                            <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
                                                                                                <ButtonTemplate>
                                                                                                    <MudIconButton HtmlTag="label"
                                                                                                                   Color="Color.Info"
                                                                                                                   Icon="@Icons.Material.Filled.PhotoCamera"
                                                                                                                   for="@context">
                                                                                                    </MudIconButton>
                                                                                                </ButtonTemplate>
                                                                                            </MudFileUpload>

                                                                                        </div>
                                                                                    </div>

                                                                                </MudStack>

                                                                            }
                                                                            @if (payment_method == 4)
                                                                            {
                                                                                @if (_formModel.PreviewUrl != null)
                                                                                {
                                                                                    <img class="uk-border-circle" src="@_formModel.PreviewUrl" alt="Preview Image" style="height:10rem; width:10rem;" />
                                                                                }
                                                                                else
                                                                                {
                                                                                    <img class="uk-border-circle" src="/img/vehicle/ducati.jpg" alt="Avatar" style="height:10rem; width:10rem;">
                                                                                }


                                                                                <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
                                                                                    <ButtonTemplate>
                                                                                        <MudIconButton HtmlTag="label"
                                                                                                       Color="Color.Info"
                                                                                                       Icon="@Icons.Material.Filled.PhotoCamera"
                                                                                                       for="@context">
                                                                                        </MudIconButton>
                                                                                    </ButtonTemplate>
                                                                                </MudFileUpload>

                                                                            }
                                                                        </div>
                                                                    </div>





                                                                </MudStack>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <MudStack Spacing="1">
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">ชำระค่าปรับ/ค่าทวงถาม:</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="paidfineAmount" style="@boxfield" disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">ชำระเงินต้น:</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="paidprincipleAmount" style="@boxfieldgreen" disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">ชำระดอกเบี้ย:</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="paidinterestAmount" style="@boxfieldgreen" disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">ค้างยอดชำระยกไป:</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="_promise_pay.pending_amount" style="@boxfieldred" disabled>
                                                                        </div>
                                                                    </div>


                                                                </MudStack>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </MudTabPanel>
                                            <MudTabPanel Text="ปิดสัญญาก่อนกำหนด" OnClick="() => SetTab(activeIndex)">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <MudStack Spacing="1">
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">เลขที่ใบเสร็จ  :</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="ReceiptNo" style="@boxfield" disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">งวดที่ค้างชำระ  :</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="_promise_pay.OverPayQty" style="@boxfieldred" disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">ยอดที่ต้องชำระ  :</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="_promise_pay.total_deptAmount" style="@boxfieldred" disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">ยอดรับฝากเงิน  :</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="_promise_pay.total_deposit" style="@boxfieldgreen" disabled>
                                                                        </div>
                                                                    </div>


                                                                </MudStack>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <MudStack Spacing="1">
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">ค่าปรับ  :</div>
                                                                            <input type="text" class="form-control text-end" @oninput="ValueChanged" value="@totalFee" style="@boxfieldred">
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">ทวงถาม / ติดตาม  :</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="_promise_pay.total_charge_follow" style="@boxfieldred">
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">ยอดที่ชำระ :</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="customerPayAmount" style="@boxfieldgreen">
                                                                        </div>
                                                                    </div>

                                                                    <MudRadioGroup T="int" @bind-Value="payment_method">
                                                                    
                                                                        <MudRadio Value="1" Color="Color.Success" UnCheckedColor="Color.Default">เงินสด</MudRadio>
                                                                        <MudRadio Value="2" Color="Color.Secondary" UnCheckedColor="Color.Default">เงินโอน</MudRadio>
                                                                        <MudRadio Value="3" Color="Color.Error" UnCheckedColor="Color.Default">อื่นๆ</MudRadio>
                                                                        <MudRadio Value="4" Color="Color.Info" UnCheckedColor="Color.Default">เงินฝาก</MudRadio>
                                                                    </MudRadioGroup>

                                                                    <div class="row">
                                                                        <div class="col-12 text-center">
                                                                            @if (payment_method == 2)
                                                                            {
                                                                             @*    <MudFileUpload T="IBrowserFile">
                                                                                    <ButtonTemplate>
                                                                                        <MudButton HtmlTag="label"
                                                                                                   Variant="Variant.Filled"
                                                                                                   Color="Color.Primary"
                                                                                                   for="@context.Id">
                                                                                            รูปภาพประกอบ
                                                                                        </MudButton>
                                                                                    </ButtonTemplate>
                                                                                    <SelectedTemplate>
                                                                                        <div class="row">
                                                                                            <div class="col-12 mt-2">
                                                                                                @if (context != null)
                                                                                                {
                                                                                                    <di></di>
                                                                                                    <MudText>ไฟล์ชื่อ : @context.Name</MudText>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <MudText>ไม่มีรูปภาพประกอบ</MudText>
                                                                                                }
                                                                                            </div>
                                                                                        </div>

                                                                                    </SelectedTemplate>
                                                                                </MudFileUpload> *@
                                                                                @if (_formModel.PreviewUrl != null)
                                                                                {
                                                                                    <img class="uk-border-circle" src="@_formModel.PreviewUrl" alt="Preview Image" style="height:10rem; width:10rem;" />
                                                                                }
                                                                                else
                                                                                {
                                                                                    <img class="uk-border-circle" src="/img/vehicle/ducati.jpg" alt="Avatar" style="height:10rem; width:10rem;">
                                                                                }


                                                                                <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
                                                                                    <ButtonTemplate>
                                                                                        <MudIconButton HtmlTag="label"
                                                                                                       Color="Color.Info"
                                                                                                       Icon="@Icons.Material.Filled.PhotoCamera"
                                                                                                       for="@context">
                                                                                        </MudIconButton>
                                                                                    </ButtonTemplate>
                                                                                </MudFileUpload>

                                                                            }
                                                                            @if (payment_method == 3)
                                                                            {
                                                                                <MudStack Spacing="1">
                                                                                    <div class="row">
                                                                                        <div class="col-12">
                                                                                            <MudTextField @bind-Value="otherReason" Label="ระบุคำอธิบาย" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                                                                        </div>
                                                                                        <div class="col-12 text-center">
                                                                                          @*   <MudFileUpload T="IBrowserFile">
                                                                                                <ButtonTemplate>
                                                                                                    <MudButton HtmlTag="label"
                                                                                                               Variant="Variant.Filled"
                                                                                                               Color="Color.Primary"
                                                                                                               for="@context.Id">
                                                                                                        รูปภาพประกอบ
                                                                                                    </MudButton>
                                                                                                </ButtonTemplate>
                                                                                                <SelectedTemplate>
                                                                                                    <div class="row">
                                                                                                        <div class="col-12 mt-2">
                                                                                                            @if (context != null)
                                                                                                            {
                                                                                                                <di></di>
                                                                                                                <MudText>ไฟล์ชื่อ : @context.Name</MudText>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <MudText>ไม่มีรูปภาพประกอบ</MudText>
                                                                                                            }
                                                                                                        </div>
                                                                                                    </div>

                                                                                                </SelectedTemplate>
                                                                                            </MudFileUpload> *@

                                                                                            @if (_formModel.PreviewUrl != null)
                                                                                            {
                                                                                                <img class="uk-border-circle" src="@_formModel.PreviewUrl" alt="Preview Image" style="height:10rem; width:10rem;" />
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <img class="uk-border-circle" src="/img/vehicle/ducati.jpg" alt="Avatar" style="height:10rem; width:10rem;">
                                                                                            }


                                                                                            <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
                                                                                                <ButtonTemplate>
                                                                                                    <MudIconButton HtmlTag="label"
                                                                                                                   Color="Color.Info"
                                                                                                                   Icon="@Icons.Material.Filled.PhotoCamera"
                                                                                                                   for="@context">
                                                                                                    </MudIconButton>
                                                                                                </ButtonTemplate>
                                                                                            </MudFileUpload>

                                                                                        </div>
                                                                                    </div>

                                                                                </MudStack>

                                                                            }
                                                                        </div>
                                                                    </div>





                                                                </MudStack>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <MudStack Spacing="1">
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">ชำระค่าปรับ/ค่าทวงถาม:</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="paidfineAmount" style="@boxfield" disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">ชำระเงินต้น:</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="paidprincipleAmount" style="@boxfieldgreen" disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">ชำระดอกเบี้ย:</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="paidinterestAmount" style="@boxfieldgreen" disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="input-group">
                                                                            <div class="input-group-text" style="@imporText">ค้างยอดชำระยกไป:</div>
                                                                            <input type="text" class="form-control text-end" @bind-value="_promise_pay.pending_amount" style="@boxfieldred" disabled>
                                                                        </div>
                                                                    </div>


                                                                </MudStack>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </MudTabPanel>
                                       
                                        </MudTabs>
                                    </div>
                                  
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center mt-4 pb-3">
                            <MudText Typo="Typo.body1" Style="@imporText">เมื่อทำการเลือกงวดที่ต้องการชำระแล้วคลิกเพิ่มรายการชำระ</MudText>
                    </div>
                    <div class="col-md-12  text-center mb-4">
                        <MudButton Variant="Variant.Outlined" Size="Size.Large" Color="Color.Error" @onclick="()=>goback()">กลับ</MudButton>
                        <MudButton Variant="Variant.Filled" Size="Size.Large" DisableElevation="true" Style="@buttoncolor1" StartIcon="@Icons.Material.Filled.AddCircle" @onclick="()=>submitpaymentlist()">ชำระรายการ</MudButton>
                      
                    </div>
                </div>
            </div>
        </div>
       
    </div>

 </div>



@code {


    // style
    string tableheader = "background-color:#840012; color:#ffff;";
    string headertext = "color:#840012; font-weight:600;";
    string buttoncolor1 = "background-color:#840012; color:#FFF; font-weight:600;";
    string settingbutton = "background-color:#840012; color:#FFF; font-weight:600; ";
    string buttoncollape = "background-color:#fc928c; color:#840012; font-weight:600;";
    string imporText = "color:#840012; font-weight:600;";
    string errorText = "color:#810515; font-weight:600;";
    string detailtext = "color:#1C2833 ; font-weight:600; font-style: italic;";

    string boxfield = "background-color:#fff; color:#3498DB; font-weight:600; ";
    string boxfieldred = "background-color:#fff; color:#FF0000; font-weight:600; ";
    string boxfieldgreen = "background-color:#fff; color:#28B463; font-weight:600; ";

    public double? PaidAmount { get; set; }
    public string otherReason { get; set; }
    DateTime date { get; set; } = DateTime.UtcNow;
    public string nat { get; set; } = "12345678998";
    public string name { get; set; } = "สุรี ศรีเย็น";
    public string collateral_type { get; set; } = "3 โฉนดที่ดิน";

    public double? principle { get; set; } = 10000;
    public int? installmentsTerm { get; set; } = 24;
    public double? installments { get; set; } = 610;
    public int? paymentTerm { get; set; } = 24;

    public double? otherdepts { get; set; } = 0.00;
    public double? interest { get; set; } = 1.90;

    public int? paymentTerm_round { get; set; } = 1;
    public double? payAmount { get; set; } = 670;
    public double? receivedAmount { get; set; } = 0;
    public string? receipt_No { get; set; } = "CB-0013110";

    public double? fineAmount { get; set; } = 60;
    public double? deptAmount { get; set; }

    public decimal? customerPayAmount { get; set; }


    public double? paidfineAmount { get; set; } = 0;
    public decimal? paidprincipleAmount { get; set; }
    public decimal? paidinterestAmount { get; set; }
    public double? behindhandAmount { get; set; } = 670;



}
