@page "/dashboard/{b_id:int}"
@using System.Globalization
@using System.Reflection
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AuthenticationStateProvider authStateProvider
@using MudBlazor
@using SingSiamOffice.Authentication
@using System.Security.Claims
@using SingSiamOffice.Models
@inject NavigationManager NavManager
@using SingSiamOffice.Manage
@using SingSiamOffice.Models
@using Microsoft.EntityFrameworkCore;
@inject BranchService branchService
<Navbar2></Navbar2>
<!-- Content Start -->
<div class="content">
    <Header />

    <div class="container mt-4 mb-4">

        <div class="row">
            <div class="col-12 mt-4 mb-4">
                <MudText Typo="Typo.h5" Style="@headertext"><img class="rounded-circle" src="img/icons/dashboard.svg" alt="" style="width:3rem;"> Dashboard สาขา: @b_info.BranchCode | @b_info.BranchName</MudText>
            </div>
            <div class="col-12 mt-4 mb-4">
                <MudText Typo="Typo.h6"><img src="img/icons/calendar.svg" alt="" style="width:2rem;"> วันที่ @date</MudText>
            </div>
        </div>

    </div>
        <div class="container mt-4 mb-4">

            <div class="row">
              <div class="col-md-3 pb-3">
                    <div class="card outer-card">
                        <div class="row no-gutters">
                            <div class="col-4">
                                <div class="card-body">
                                    <img  src="img/icons/totalmoney.svg" alt="" style="width:5rem;">
                                </div>
                                
                            </div>
                            <div class="col-8">
                                <div class="card-body text-center">
                                   <MudStack>
                                        <MudText Typo="Typo.body1" Style="@imporText">ยอดเงินคงเหลือทั้งหมดของสาขา</MudText>
                                        <MudText Typo="Typo.body1">1,000,000 บาท</MudText>
                                   </MudStack>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
                <div class="col-md-3 pb-3">
                    <div class="card outer-card">
                        <div class="row no-gutters">
                            <div class="col-4">
                                <div class="card-body">
                                    <img  src="img/icons/branchmoney.svg" alt="" style="width:5rem;">
                                </div>

                            </div>
                            <div class="col-8">
                                <div class="card-body text-center">
                                    <MudStack>
                                        <MudText Typo="Typo.body1" Style="@imporText">ยอดคงเหลือในบัญชีสาขา</MudText>
                                        <MudText Typo="Typo.body1">1,000,000 บาท</MudText>
                                    </MudStack>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pb-3">
                    <div class="card outer-card">
                        <div class="row no-gutters">
                            <div class="col-4">
                                <div class="card-body">
                                    <img  src="img/icons/cash.svg" alt="" style="width:5rem;">
                                </div>

                            </div>
                            <div class="col-8">
                                <div class="card-body text-center">
                                    <MudStack>
                                        <MudText Typo="Typo.body1" Style="@imporText">ยอดคงเหลือเงินสดสาขา</MudText>
                                        <MudText Typo="Typo.body1">1,000,000 บาท</MudText>
                                    </MudStack>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pb-3">
                    <div class="card outer-card">
                        <div class="row no-gutters">
                            <div class="col-4">
                                <div class="card-body ">
                                    <img  src="img/icons/lone.svg" alt="" style="width:5rem;">
                                </div>

                            </div>
                            <div class="col-8">
                                <div class="card-body text-center">
                                    <MudStack>
                                        <MudText Typo="Typo.body1" Style="@imporText">ยอดปล่อยกู้รวม</MudText>
                                        <MudText Typo="Typo.body1">1,000,000 บาท</MudText>
                                    </MudStack>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-md-8">
                    <MudStack Row="true">
                        <MudDatePicker @bind-Date="date" Label="วัน/เดือน/ปี" Culture="@GetThaiCulture()" PickerVariant="PickerVariant.Dialog" UseShortNames="false" TitleDateFormat="dddd, dd MMMM" Margin="Margin.Dense" Variant="Variant.Outlined" Style="background-color:#fff;" Required RequiredError="กรุณาระบุวัน/เดือน/ปีเกิด" />
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Search" Style="@buttoncolor1" @onclick="()=>Fillter()">ค้นหาข้อมูล</MudButton>
                    <MudButton Variant="Variant.Outlined" Color="Color.Error" @onclick="()=>Reset()">ล้างค้นหา</MudButton>
                 </MudStack>
                </div>
              
            </div>

        </div>
     <div class="container mt-4 mb-4">
         <div class="card outer-card">
             <div class="card-body">
                 <div class="row">
                     <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead style="@tableheader">
                                    <tr>
                                        <th class="col">เลขรหัสธุรกรรม</th>
                                        <th class="col">วัน / เดือน / ปี</th>
                                        <th class="col">รายการ</th>
                                        <th class="col">จำนวนเงินรับ(บาท)</th>
                                        <th class="col">จำนวนเงินออก(บาท)</th>
                                        <th class="col">ประเภทการจ่าย</th>
                                        <th class="col">ผู้ทำรายการ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (list_transection != null)
                                    {
                                        @foreach (var data in list_transection)
                                        {
                                            <tr>
                                                <td>@data.TransectionRef</td>
                                                <td>@data.CreateAt.ToString("dd/MM/yyyy hh:mm:ss")</td>
                                                <td>@data.Subject.SubjectName</td>
                                                
                                                @if (data.Subject.SubjectType == 1)
                                                {
                                                    
                                                    <td class="text-end" style="@receivedmoney">@data.Price</td>
                                                    <td class="text-center" style="@outmoney"> - </td>
                                                }
                                                else if (data.Subject.SubjectType == 2)
                                                {
                                                    <td class="text-center" style="@receivedmoney"> - </td>
                                                    <td class="text-end" style="@outmoney">@data.Price</td>
                                                }
                                                else
                                                {
                                                    <td class="text-center" style="@outmoney"> - </td>
                                                    <td class="text-end" style="@outmoney">-</td>
                                                    @if(data.Subject.SubjectType == 3 ){
                                                        <td class="text-end">withdrawal</td>
                                                    }
                                                    else if (data.Subject.SubjectType == 4)
                                                    {
                                                        <td class="text-end">deposit</td>
                                                    }
                                                    else
                                                    {
                                                        
                                                    }
                                                }
                                                @if (data.PaymentMethod == 1 && data.Subject.SubjectType != 4 && data.Subject.SubjectType != 3)
                                                {
                                                    <td class="text-end" style="@cash">เงินสด</td>
                                                }
                                                else if (data.PaymentMethod == 2 && data.Subject.SubjectType != 4 && data.Subject.SubjectType != 3)
                                                {
                                                    <td class="text-end" style="@banktransfer">เงินโอน</td>
                                                }
                                             
                                                else
                                                {
                                                   
                                                }

                                                
                                                <td>@data.Login.Fullname</td>
                                             

                                            </tr>
                                        }
                                    }


                                </tbody>

                            </table>
                        </div>
                     </div>

                 </div>
             </div>
         </div>
       

     </div>

</div>


@code {

    // style
    string tableheader = "background-color:#840012; color:#ffff;";
    string headertext = "color:#840012; font-weight:600;";
    string buttoncolor1 = "background-color:#840012; color:#FFF; font-weight:600;";
    string settingbutton = "background-color:#840012; color:#FFF; font-weight:600; ";
    string buttoncollape = "background-color:#fc928c; color:#840012; font-weight:600;";
    string imporText = "color:#840012; font-weight:600;";
    string detailtext = "color:#1C2833 ; font-weight:600; font-style: italic;";
    string receivedmoney = "color:#2ba037; font-weight:600;";
    string outmoney = "color:#7f0011; font-weight:600;";

    string cash = "color:#0E6655; font-weight:600;";
    string banktransfer = "color:#5B2C6F ; font-weight:600;";

    [Parameter]
    public int b_id { get; set; }
    List<TransactionHistory> list_transection = new List<TransactionHistory>();
    SingsiamdbContext db = new SingsiamdbContext();
    Branch b_info = new Branch();
    protected override async Task OnInitializedAsync()
    {


        branchService.branch_ID = b_id;
        b_info = db.Branches.Where(s => s.Id == b_id).FirstOrDefault();
        list_transection = db.TransactionHistories.Include(s => s.Subject).Include(s => s.Login).Where(s => s.BranchId == b_id).AsNoTracking().OrderByDescending(s => s.CreateAt).Take(100).ToList();
    }
    private void Fillter()
    {

        if (date != null)
        {
            list_transection = db.TransactionHistories.Include(s => s.Subject).Where(s => s.BranchId == b_id && s.CreateAt.Day == date.Value.Day && s.CreateAt.Month == date.Value.Month && s.CreateAt.Year == date.Value.Year).AsNoTracking().OrderByDescending(s => s.CreateAt).ToList();
        }
        StateHasChanged();
    }
    private void Reset()
    {

        date = null;
        list_transection = db.TransactionHistories.Include(s => s.Subject).Where(s => s.BranchId == b_id).AsNoTracking().OrderByDescending(s => s.CreateAt).Take(100).ToList();
        StateHasChanged();
    }
}
