@page "/expense-report"
@* <h3>ExpenseReport</h3> *@

<Navbar></Navbar>

<!-- Content Start -->
<div class="content">
    <Header />

    <div class="container mt-4 mb-4">

        <div class="row">
            <div class="col-12 mt-4 mb-4">
                <MudText Typo="Typo.h5" Style="@headertext"><img class="rounded-circle" src="img/icons/report.svg" alt="" style="width:3rem;"> รายงานรายรับ - รายจ่ายสาขา</MudText>
            </div>
            <div class="col-12 mt-4 mb-4">
                <MudText Typo="Typo.h6"><img src="img/icons/calendar.svg" alt="" style="width:2rem;"> วันที่ @date</MudText>
                </div>
            </div>

        </div>


        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-md-4">
                    <MudAutocomplete T="string" Label="ระบุสาขา" @bind-Value="branchs" SearchFunc="@SearchBranch" Margin="Margin.Dense" Variant="Variant.Outlined" />
                </div>
                <div class="col-md-4">
                    <MudDatePicker @bind-Date="filter_date" Label="วัน/เดือน/ปี" Culture="@GetThaiCulture()" PickerVariant="PickerVariant.Dialog" UseShortNames="false" TitleDateFormat="dddd, dd MMMM" Margin="Margin.Dense" Variant="Variant.Outlined" Style="background-color:#fff;" Required RequiredError="กรุณาระบุวัน/เดือน/ปีเกิด" />
             </div>
             <div class="col-md-4">
                 <MudStack Row="true">
                     <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Search" Size="Size.Large" Style="@buttoncolor1">ค้นหาข้อมูล</MudButton>
                     <MudButton Variant="Variant.Filled" Size="Size.Large" Style="@buttoncolor1">ข้อมูลรวมทุกสาขา</MudButton>
                 </MudStack>
             </div>
         </div>

     </div>

     <div class="container mt-4 mb-4">
         <div class="card">
             <div class="card-body">
                 <div class="row">
                     <div class="col-md-12 mt-4 mb-4 text-center">
                         <MudText Typo="Typo.h6" Style="@imporText">รายรับ - รายจ่าย สาขา</MudText>
                     </div>
                     <div class="col-md-12 mt-4 mb-4">
                         <canvas id="salse-revenue"></canvas>
                     </div>

                 </div>
             </div>
         </div>


     </div>

     <div class="container mt-4 mb-4">
         <div class="card outer-card">
             <div class="card-body">
                 <div class="row">
                     <div class="col-md-12 mb-3">
                         <div class="table-responsive">
                             <table class="table table-striped">
                                 <thead style="@tableheader">
                                     <tr>
                                         <th scope="col">ลำดับ</th>
                                         <th scope="col">วัน/เดือน/ปี</th>
                                         <th scope="col">เวลา</th>
                                         <th scope="col">ธุรกรรม</th>
                                         <th scope="col">จำนวนเงิน</th>
                                         <th scope="col">อ้างอิง</th>
                                         <th scope="col">ผู้ทำรายการ</th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                     <tr>

                                         <td>10/12/2566</td>
                                         <td>ค่าประกันหนี้</td>
                                         <td>12221</td>
                                         <td>รถยนต์</td>
                                         <td>12232</td>
                                         <td>30000</td>
                                         <td>2000</td>

                                     </tr>
                                     <tr>

                                         <td>10/12/2566</td>
                                         <td>ค่าประกันหนี้</td>
                                         <td>12221</td>
                                         <td>รถยนต์</td>
                                         <td>12232</td>
                                         <td>30000</td>
                                         <td>2000</td>

                                     </tr>
                                     <tr>

                                         <td>10/12/2566</td>
                                         <td>ค่าประกันหนี้</td>
                                         <td>12221</td>
                                         <td>รถยนต์</td>
                                         <td>12232</td>
                                         <td>30000</td>
                                         <td>2000</td>

                                     </tr>
                                 </tbody>

                             </table>
                         </div>
                     </div>

                     <div class="col-md-12 mb-3 text-end">
                         <MudButton Variant="Variant.Filled" Size="Size.Large" Style="@buttoncolor1">ดึ่งข้อมูล Excel</MudButton>
                     </div>
                 </div>
             </div>
         </div>


     </div>

 </div>


 @code {
    // style
    string tableheader = "background-color:#840012; color:#ffff;";
    string headertext = "color:#840012; font-weight:600;";
    string buttoncolor1 = "background-color:#840012; color:#FFF; font-weight:600;";
    string settingbutton = "background-color:#840012; color:#FFF; font-weight:600; ";
    string buttoncollape = "background-color:#fc928c; color:#840012; font-weight:600;";
    string imporText = "color:#840012; font-weight:600;";
    string detailtext = "color:#1C2833 ; font-weight:600; font-style: italic;";
}
